<p id="notice"><%= notice %></p>

<p>
  <strong>Reward:</strong>
  <%= @reward2.reward %>
</p>

<p>
  <strong>Price:</strong>
  <%= @reward2.price %>
</p>

<p>
  <strong>Value:</strong>
  <%= @reward2.value %>
</p>

<p>
  <strong>Status:</strong>
  <%= @reward2.status %>
</p>

<%= link_to 'Edit', edit_reward2_path(@reward2) %> |
<%= link_to 'Back', reward2s_path %>
